Repository gmlc-dispatches/dispatches, pull requests merged in 2023-07, with the labels that each got.

#212 Resolve nbcheck failures
  requirements-dev.txt
Labels: bug, Priority:High, dependencies

#211 Fix RE Notebook for Issue 200
  dispatches/case_studies/renewables_case/DoubleLoopOptimization.ipynb
  dispatches/case_studies/renewables_case/RE_surrogate_optimization_steadystate.py
  dispatches/case_studies/renewables_case/tests/test_surrogate_opt.py
Labels: Priority:High

#210 Scripts needed to reproduce results in the NE/RE report
  dispatches/case_studies/nuclear_case/report/README.md
  dispatches/case_studies/nuclear_case/report/__init__.py
  dispatches/case_studies/nuclear_case/report/base_case_pcm_simulation.py
  dispatches/case_studies/nuclear_case/report/market_surrogates.py
  dispatches/case_studies/nuclear_case/report/nn_steady_state/README.txt
  dispatches/case_studies/nuclear_case/report/nn_steady_state/cap_factor_input_output_scaling_data.json
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_cap_factor/keras_metadata.pb
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_cap_factor/saved_model.pb
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_cap_factor/variables/variables.data-00000-of-00001
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_cap_factor/variables/variables.index
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_revenue/keras_metadata.pb
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_revenue/saved_model.pb
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_revenue/variables/variables.data-00000-of-00001
  dispatches/case_studies/nuclear_case/report/nn_steady_state/keras_revenue/variables/variables.index
  dispatches/case_studies/nuclear_case/report/nn_steady_state/revenue_input_output_scaling_data.json
  dispatches/case_studies/nuclear_case/report/price_taker_analysis.py
  dispatches/case_studies/nuclear_case/report/rts_gmlc_15_500.csv
  dispatches/case_studies/nuclear_case/report/traditional_tea.py
Labels: Priority:High, Final Report

#209 updated FE models for design and pricetaker
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/README.md
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/fixed_integrated_usc_storage.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/fixed_nlp_multiperiod.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/fixed_pricetaker.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/fixed_uscp_design_data.json
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/simultaneous_integrated_usc_storage.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/simultaneous_nlp_multiperiod.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/simultaneous_pricetaker.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/simultaneous_uscp_design_data.json
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/uscpp_charge_superstructure.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/storage/final_report/uscpp_discharge_superstructure.py
  dispatches/case_studies/fossil_case/ultra_supercritical_plant/ultra_supercritical_powerplant.py
Labels: Priority:High, Final Report
